<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/../SI_BebasTanggungan_TA/image/icon.png">
        <title>Profile</title>
        <link rel="stylesheet" href="/../SI_BebasTanggungan_TA/css/profil.css">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="/../SI_BebasTanggungan_TA/image/logo.png" alt="SIBETA">
                    <span>SIBETA</span>
                </div>

                <div class="home-h">
                    <a href="/../SI_BebasTanggungan_TA/app/view/Super_Admin/data_mhs.html">HOME</a>
                </div>

                <div class="notif">
                    <img src="/../SI_BebasTanggungan_TA/image/notification.png" alt="">
                </div>

                <div class="profile aktif">
                    <a href="../Super_Admin/profil.html"><span class="role aktif">Super Admin</span></a>
                    <img src="/../SI_BebasTanggungan_TA/image/pp.png" alt="Foto Profil" class="pp">
                </div>
            </nav>

            <div class="content">
                <div class="top">
                    <span>Profile</span>
                </div>

                <div class="data-content">
                    <div class="photo">
                        <img src="/../SI_BebasTanggungan_TA/image/pp.png" alt="Foto Profil">
                    </div>

                    <div class="cont">
                        <div class="data">
                            <div class="isi e">
                                <label for="role">Role :</label>
                                <input type="text" name="role">
                            </div>

                            <div class="isi e">
                                <label for="nama">Name :</label>
                                <input type="text" name="nama">
                            </div>

                            <div class="isi e">
                                <label for="email">Email :</label>
                                <input type="text" name="email">
                            </div>
                        </div>

                        <div class="btn">
                            <button>Save</button>
                            <button><a href="../Super_Admin/profil.html">Cancel</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>