<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Module</title>
        <link rel="stylesheet" href="/../SI_BebasTanggungan_TA/css/Super_Admin/log.css">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="profile">
                    <a href="../Super_Admin/profil.html"><span class="role">Super Admin</span></a>
                    <img src="/../SI_BebasTanggungan_TA/image/pp.png" alt="Foto Profil" class="pp">
                </div>
            </nav>
            
            <div class="menu-container">
                <div class="logo">
                    <img src="/../SI_BebasTanggungan_TA/image/logo.png" alt="SIBETA">
                    <span>SIBETA</span>
                </div>
                
                <div class="menu">
                    <a href="../Super_Admin/add_mhs.html">Add User Account</a>
                    <a href="../Super_Admin/data_mhs.html">Data List</a>
                    <a href="../Super_Admin/log.html">Admin Log Activity</a>
                    <a href="../Super_Admin/verifikasi_all.html">Verification Activity</a>
                    <div class="pilih">
                        <a href="../Super_Admin/module.html" class="aktif">Module</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="top">
                    <h2>Module</h2>
                </div>

                <div></div>
            </div>
        </div>
    </body>
</html>