<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Module</title>
        <link rel="stylesheet" href="/../SI_BebasTanggungan_TA/css/Super_Admin/module.css">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="profile">
                    <a href="../Super_Admin/profil.html"><span class="role">Super Admin</span></a>
                    <img src="/../SI_BebasTanggungan_TA/image/pp.png" alt="Foto Profil" class="pp">
                </div>
            </nav>
            
            <div class="menu-container">
                <div class="logo">
                    <img src="/../SI_BebasTanggungan_TA/image/logo.png" alt="SIBETA">
                    <span>SIBETA</span>
                </div>
                
                <div class="menu">
                    <a href="../Super_Admin/add_mhs.html">Add User Account</a>
                    <a href="../Super_Admin/data_mhs.html">Data List</a>
                    <a href="../Super_Admin/log.html">Admin Log Activity</a>
                    <a href="../Super_Admin/verifikasi_all.html">Verification Activity</a>
                    <div class="pilih">
                        <a href="../Super_Admin/module.html" class="aktif">Module</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="top">
                    <h2>Module</h2>
                </div>

                <div class="isi-container" id="isi">
                    <form action="" class="add">
                        <div class="top-container">
                            <div class="type">
                                <label for="type">Type :</label>
                                <input type="text" id="type" name="type">
                            </div>

                            <div class="title">
                                <label for="title">Title :</label>
                                <input type="text" id="title" name="title">
                            </div>
                        </div>

                        <div class="isi">
                            <label for="content">Content :</label>
                            <textarea type="text" id="content" name="content"></textarea>
                        </div>

                        <div class="btn">
                            <button type="submit"><img src="../image/edit.png" alt="">Edit</button>
                            <button type="submit"><img src="../image/delete.png" alt="">Delete</button>
                        </div>
                    </form>  
                </div>

                <div class="isi-container" id="new">
                    <form action="" class="add">
                        <div class="top-container">
                            <div class="type">
                                <label for="type">Type :</label>
                                <input type="text" id="type" name="type">
                            </div>

                            <div class="title">
                                <label for="title">Title :</label>
                                <input type="text" id="title" name="title">
                            </div>
                        </div>

                        <div class="isi">
                            <label for="content">Content :</label>
                            <textarea type="text" id="content" name="content"></textarea>
                        </div>

                        <div class="btn">
                            <button type="submit">Save</button>
                            <button type="reset">Cancel</button>
                        </div>
                    </form>  
                </div>
            </div>
        </div>
    </body>
</html>