<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log Activity</title>
        <link rel="stylesheet" href="/../SI_BebasTanggungan_TA/css/Super_Admin/verifikasi.css">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="profile">
                    <a href="../Super_Admin/profil.html"><span class="role">Super Admin</span></a>
                    <img src="/../SI_BebasTanggungan_TA/image/pp.png" alt="Foto Profil" class="pp">
                </div>
            </nav>
            
            <div class="menu-container">
                <div class="logo">
                    <img src="/../SI_BebasTanggungan_TA/image/logo.png" alt="SIBETA">
                    <span>SIBETA</span>
                </div>
                
                <div class="menu">
                    <a href="../Super_Admin/add_mhs.html">Add User Account</a>
                    <a href="../Super_Admin/data_mhs.html">Data List</a>
                    <a href="../Super_Admin/log.html">Admin Log Activity</a>
                    <div class="pilih">
                        <a href="../Super_Admin/verifikasi_all.html" class="aktif">Verification Activity</a>
                    </div>
                    <a href="../Super_Admin/module.html">Module</a>
                </div>
            </div>

            <div class="content">
                <div class="top">
                    <h2>Admin Log Activity</h2>

                    <div class="top2">
                        <div class="search-container">
                            <form action="#" method="GET">
                                <button type="submit"><img src="/../SI_BebasTanggungan_TA/image/search.png" alt=""></button>
                                <input type="text" placeholder="search here...">
                            </form>
                        </div>

                        <div class="choose">
                            <a href="../Super_Admin/verifikasi_all.html">All</a>
                            <a href="../Super_Admin/verifikasi.html">Verified</a>
                            <a href="../Super_Admin/verifikasi_pending.html">Pending</a>
                            <a href="../Super_Admin/verifikasi_unverif.html">Unverified</a>
                            <a href="../Super_Admin/verifikasi_apprv.html" class="aktif">Approved</a>
                        </div>
                    </div>
                </div>

                <div class="data">
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Admin</th>
                                    <th>Student</th>
                                    <th>Status</th>
                                    <th>Date & Time</th>
                                </tr>
                            </thead>
        
                            <tbody>
                                <tr>
                                    <td class="admin">Budi Santoso</td>
                                    <td class="student">Hasbi Arridwan</td>
                                    <td class="status">Approved</td>
                                    <td class="date">2024 - 11 - 19  08:55</td>
                                </tr>

                                <tr>
                                    <td class="admin">Budi Santoso</td>
                                    <td class="student">Keisya Nisrina Aulia</td>
                                    <td class="status">Approved</td>
                                    <td class="date">2024 - 11 - 19  08:42</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        
                    <div class="halaman">
                        <button type="button" class="prev">< Previous</button>
                        <button type="button" class="page-number">01 02 03 04 ... 11</button>
                        <button type="button" class="next">Next ></button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>