@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at center, 
      #FFF8EC 0%, 
      #F0F7F9 50%,
      #EAF6FF 72%, 
      #d1e3ff 100%
    );
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px 30px 300px;
    overflow: hidden;
}

.notif {
    justify-content: center;
    padding-top: 12px;
    padding-left: 900px;

}

.notif img {
    width: 31px;
    height: 31px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'inter';
    border: 1.5px solid #000000;
    border-radius: 42px;
    width: 200px;
    height: 54px;
    margin-left: auto;
    margin-right: 20px;
}

.role {
    color: #334EAC;
    font-size: 15px;
    font-weight: 600;
    padding: 25px 10px 25px 14px;
}

.pp {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 10px 10px 10px 10px;
}

.menu-container {
    position: sticky;
    align-self: center;
    background-color: #FFFFFF;
    color: #6D6C6C;
    height: 683px;
    width: 250px;
    box-shadow: 2px 2px 5px #929292;
    border-top-right-radius: 57px;
    border-bottom-right-radius: 57px;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: self-start;
    flex-direction: row;
    font-size: 25px;
    font-family: "Averia Serif Libre";
    font-weight: bold;
    color: #334EAC;
    padding-top: 30px;
    padding-left: 30px;
}

.logo img {
    width: 56px;
    height: 56px;
}

.menu {
    font-family: 'inter';
    padding-top: 70px;
    padding-left: 30px;
}

.menu a {
    display: block;
    color: #6D6C6C;
    text-decoration: none;
    padding-bottom: 30px;
    padding-left: 20px;

    &.aktif {
        color: #334EAC;
    }
}

.m {
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.m img {
    width: 19px;
    height: 19px;
}

.content {
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-items: center;
    font-family: 'inter';
    padding-top: 130px;
}

.box {display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-items: center;
    width: 900px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 34px;
    padding: 30px 10px 10px 10px;
}

.title {}

.kt {
    width: 880px;
    height: 500px;
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 32px;
    padding: 20px;
}