@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at center,
            #FFF8EC 0%,
            #F0F7F9 50%,
            #EAF6FF 72%,
            #d1e3ff 100%);
    overflow-y: scroll; /* Pastikan halaman bisa di-scroll */
    overflow-x: hidden; /* Hilangkan scroll horizontal jika tidak diperlukan */
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-y: auto; /* Tambahkan ini untuk memungkinkan scroll di container */
    height: auto; /* Ubah dari min-height ke auto */
    width: 1470px;
}


nav {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px 30px 300px;
    overflow: hidden;
}

.notif {
    justify-content: center;
    padding-top: 5px;
    padding-left: 10px;

}

.notif img {
    width: 31px;
    height: 31px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'inter';
    border: 1.5px solid #000000;
    border-radius: 42px;
    width: 200px;
    height: 54px;
    margin-left: auto;
    margin-right: 20px;
}

.profile:hover {
    cursor: pointer;
    background-color: #334EAC;
}

.role {
    color: #334EAC;
    font-size: 15px;
    font-weight: 600;
    padding: 25px 10px 25px 14px;
}

.role:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.pp {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 10px 10px 10px 10px;
}

.menu-container {
    position: fixed;
    top: 35px;
    left: 0;
    background-color: #FFFFFF;
    color: #6D6C6C;
    height: 683px;
    width: 250px;
    box-shadow: 2px 2px 5px #929292;
    border-top-right-radius: 57px;
    border-bottom-right-radius: 57px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: self-start;
    flex-direction: row;
    font-size: 25px;
    font-family: "Averia Serif Libre";
    font-weight: bold;
    color: #334EAC;
    padding-top: 30px;
    padding-left: 30px;
}

.logo img {
    width: 56px;
    height: 56px;
}

.home a {
    color: #334EAC;
    text-decoration: none;
    padding-top: 12px;
    padding-left: 815px;
    font-family: 'inter';
}

.menu {
    font-family: 'inter';
    padding-top: 70px;
}

.menu .mi a {
    color: #334EAC;
    font-weight: 700;
}

.menu a {
    display: block;
    color: #6D6C6C;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 30px;
    padding-left: 20px;

    &.aktif {
        color: #FFFFFF;
    }
}

.m {
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.m img {
    width: 19px;
    height: 19px;
}

.pilih {
    justify-self: self-start;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #334EAC;
    padding-top: 5px;
    margin-bottom: 30px;
    height: 31px;
    width: 230px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: center;
    font-family: 'inter';
    width: calc(100% - 310px); 
    height: auto;
    margin-top: 130px;
    margin-left: 310px;
}


.top {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding-right: 20px;
}

.top h2 {
    color: #334EAC;
    border-bottom: 2px solid #6D6C6C;
}

.terms {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: #FFFFFF;
    width: 95%;
    height: 300px;
    border-radius: 34px;
    box-shadow: 2px 2px 3px #929292;
    margin-top: 20px;
    padding: 20px;
}

.tc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.2);
    width: 100%;
    height: 260px;
    border-radius: 32px;
    margin-top: 10px;
}

.alert {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.alert img {
    width: 14px;
    height: 14px;
}

.alert span {
    color: #FF0000;
    font-size: 12px;
}

.sub {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 95%;
    height: 170px;
    border-radius: 23px;
    box-shadow: 2px 2px 3px #929292;
    margin-top: 10px;
    padding: 20px;
}

.sub-cont {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    height: 150px;
    border-left: 4px solid #334EAC;
    padding: 10px;
}

.sub-con {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #F6FBFF;
    width: 100%;
    height: 100px;
    border: 2px solid #929292;
    border-radius: 11px;
    border-style: dashed;
    box-shadow: 2px 2px 3px #929292;
    margin-top: 10px;
    padding: 20px;
}

.sub-con img {
    width: 29.45px;
    height: 29px;
}

.upload-container {
    text-align: end;
    margin: 20px 58px 20px 0;
}

.upload-button {
    background-color: #005ED9;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #0148a4;
}
