@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at center,
            #FFF8EC 0%,
            #F0F7F9 50%,
            #EAF6FF 72%,
            #d1e3ff 100%);
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px 30px;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: self-start;
    flex-direction: row;
    font-size: 25px;
    font-family: "Averia Serif Libre";
    font-weight: bold;
    color: #334EAC;
}

.logo img {
    width: 56px;
    height: 56px;
}

.home a {
    color: #334EAC;
    text-decoration: none;
    padding-top: 12px;
    padding-left: 825px;
}

.home-h a {
    color: #334EAC;
    text-decoration: none;
    padding-top: 12px;
    padding-left: 965px;
}

.notif {
    justify-content: center;
    padding-top: 5px;
    padding-left: 10px;

}

.notif img {
    width: 31px;
    height: 31px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'inter';
    border: 1.5px solid #000000;
    border-radius: 42px;
    width: 200px;
    height: 54px;
    margin-left: auto;
    margin-right: 20px;

    &.aktif {
        background-color: #334EAC;
    }
}

.profile a {
    text-decoration: none;
}

.role {
    color: #334EAC;
    font-size: 15px;
    font-weight: 600;
    padding: 25px 10px 25px 14px;

    &.aktif {
        color: #FFFFFF;
    }
}

.pp {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 10px 10px 10px 10px;
}

.content {
    flex-direction: column;
    flex: 1;
    align-items: center;
    font-family: 'inter';
    padding: 130px 0 0 110px;
}

.top {
    color: #334EAC;
    font-size: 35px;
    padding-bottom: 30px;
}

.data-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    width: 310px;
    height: 310px;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 700px;
    height: 400px;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.isi .p {
    display: flex;
    flex-direction: column;
}

.p label {
    font-size: 20px;
    font-weight: 600;
    color: #334EAC;
}

.p p {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.isi .e {
    display: flex;
    flex-direction: row;
}

.e label {
    font-size: 20px;
    font-weight: 600;
    color: #334EAC;
}

.e input[name="role"] {
    font-size: 14px;
    font-weight: 500;
    width: 230px;
    height: 30px;
    color: #000000;
    border: 2px solid #334EAC;
    border-radius: 5px;
    padding: 6px;
    margin-left: 45px;
}

.e input[name="nama"] {
    font-size: 14px;
    font-weight: 500;
    width: 230px;
    height: 30px;
    color: #000000;
    border: 2px solid #334EAC;
    border-radius: 5px;
    padding: 6px;
    margin-left: 41px;
}

.e input[name="email"] {
    font-size: 14px;
    font-weight: 500;
    width: 230px;
    height: 30px;
    color: #000000;
    border: 2px solid #334EAC;
    border-radius: 5px;
    padding: 6px;
    margin-left: 46px;
}

.e input[name="password"] {
    font-size: 14px;
    font-weight: 500;
    width: 230px;
    height: 30px;
    color: #000000;
    border: 2px solid #334EAC;
    border-radius: 5px;
    padding: 6px;
    margin-left: 5px;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn button,
input[type="submit"] {
    cursor: pointer;
    width: 120px;
    height: 38px;
    align-items: center;
    justify-content: center;
    border: 2px solid #334EAC;
    border-radius: 11px;
}

.btn button:hover,
input[type="submit"]:hover {
    background-color: #334EAC;
    color: #FFFFFF;
}

.b {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.btn img {
    width: 20px;
    height: 20px;
}

.btn a {
    font-weight: 500;
    text-decoration: none;
    color: #334EAC;
}