@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.top {
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding-right: 20px;
}

.top h2 {
    color: #000000;
    border-bottom: 2px solid #6D6C6C;
}