<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">
        <title>Home</title>
    </head>

    <body>
        <div>
            <div class="diagram-teknisi">
                <canvas id="teknisi" width="155" height="155"></canvas>
            </div>

            <div class="diagram-adprod">
                <canvas id="adprod" width="155" height="155"></canvas>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js"></script>
        <script src="teknisi.js"></script>
        <script src="adprod.js"></script>
    </body>
</html>