<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/../SI_BebasTanggungan_TA/image/icon.png">
        <title>Contact Us</title>
        <link rel="stylesheet" href="/../SI_BebasTanggungan_TA/css/Mahasiswa/kontak.css">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="notif">
                    <img src="/../SI_BebasTanggungan_TA/image/notification.png" alt="">
                </div>
                
                <div class="profile">
                    <span class="role">Mahasiswa</span>
                    <img src="/../SI_BebasTanggungan_TA/image/pp.png" alt="Foto Profil" class="pp">
                </div>
            </nav>
            
            <div class="menu-container">
                <div class="logo">
                    <img src="/../SI_BebasTanggungan_TA/image/logo.png" alt="SIBETA">
                    <span>SIBETA</span>
                </div>
                
                <div class="menu">
                    <div class="m">
                        <img src="/../SI_BebasTanggungan_TA/image/home.png" alt="">
                        <a href="../Mahasiswa/home.html">Home</a>
                    </div>

                    <div class="m">
                        <img src="/../SI_BebasTanggungan_TA/image/folder.png" alt="">
                        <a href="../Mahasiswa/pengajuan.html">File Submission</a>
                    </div>

                    <div class="m">
                        <img src="/../SI_BebasTanggungan_TA/image/book.png" alt="">
                        <a href="../Mahasiswa/panduan.html">Guideline</a>
                    </div>
                    <div class="m">
                        <img src="/../SI_BebasTanggungan_TA/image/call.png" alt="">
                        <a href="../Mahasiswa/kontak.html" class="aktif">Contact</a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="top">
                    <h2>Contact Us</h2>

                    <p>Please contaact the following number <br>
                        for any questions regarding the files to be uploaded</p>
                </div>

                <div class="call">
                    <div class="teknisi">
                        <img src="/../SI_BebasTanggungan_TA/image/phone.png" alt="">
                        <span>Techinician - Anggi</span>
                        <span>0895630505222</span>
                        <i>(Chat Only)</i>
                    </div>

                    <div class="admin">
                        <img src="/../SI_BebasTanggungan_TA/image/phone.png" alt="">
                        <span>Admin - Yanti</span>
                        <span>08300666233</span>
                        <i>(Chat Only)</i>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>