<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hubungi Kami</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div>
            <div>
                <h4>SIBETA</h4>
            </div>

            <div class="menu">
                <div>
                    <a href="home.html">
                        <img src="" alt="">
                        <span>Home</span>
                    </a>
                </div>

                <div>
                    <a href="pengajuan.html">
                        <img src="" alt="">
                        <span>Pengajuan Surat</span>
                    </a>
                </div>

                <div>
                    <a href="panduan.html">
                        <img src="" alt="">
                        <span>Panduan</span>
                    </a>
                </div>

                <div>
                    <a href="kontak.html">
                        <img src="" alt="">
                        <span>Kontak</span>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>