<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../image/icon.png">
        <title>File Submission</title>
        <link rel="stylesheet" href="pengajuan.css">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="../image/logo.png" alt="SIBETA">
                    <span>SIBETA</span>
                </div>

                <div class="home">
                    <a href="home.html">HOME</a>
                </div>

                <div class="notif">
                    <img src="../image/notification.png" alt="">
                </div>

                <div class="profile">
                    <span class="role">Mahasiswa</span>
                    <img src="../image/pp.png" alt="Foto Profil" class="pp">
                </div>
            </nav>

            <div class="content">
                <div class="top">
                    <span>File Submission</span>
                </div>

                <div class="alert">
                    <div class="icon">
                        <img src="../image/alert.png" alt="">
                    </div>

                    <div class="text">
                        <p>You are required to complete the necessary documents for upload and obtain verification from Technician<br>
                            before submitting the documents to the Admin! <a href="panduan.html">More information</a></p>
                    </div>
                </div>

                <div class="data">
                    <div class="sub-tech">
                        <img src="../image/teknisi.png" alt="">
                        <span>Technician</span>
                        <button>Submit Verification</button>
                    </div>

                    <div class="sub-adm">
                        <div class="sub-tech">
                            <img src="../image/admin.png" alt="">
                            <span>Admin</span>
                            <button>Submit Verification</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>