@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

body {
    background: radial-gradient(circle at center, 
      #FFF8EC 0%, 
      #F0F7F9 50%,
      #EAF6FF 72%, 
      #d1e3ff 100%
    );
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px 30px 300px;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #000000;
    border-radius: 42px;
    width: 200px;
    height: 54px;
    margin-left: auto;
    margin-right: 20px;
}

.role {
    color: #334EAC;
    font-size: 15px;
    font-weight: 600;
    padding: 25px 10px 25px 14px;
}

.pp {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 10px 10px 10px 10px;
}

.menu-container {
    position: fixed;
    top: 66px;
    left: 0;
    align-self: center;
    background-color: #FFFFFF;
    color: #6D6C6C;
    height: 683px;
    width: 250px;
    box-shadow: 2px 2px 5px #929292;
    border-top-right-radius: 57px;
    border-bottom-right-radius: 57px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    font-family: "Averia Serif Libre";
    font-weight: bold;
    color: #334EAC;
    padding: 30px 30px;
}

.logo img {
    width: 56px;
    height: 56px;
}

.menu {
    padding-top: 70px;
}

.menu a {
    display: block;
    color: #334EAC;
    text-decoration: none;
    padding-bottom: 30px;
    padding-left: 20px;

    &.aktif {
        color: #FFFFFF;
    }
}

.pilih {
    justify-self: self-start;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #334EAC;
    padding-top: 5px;
    margin-bottom: 30px;
    height: 31px;
    width: 230px;
}

.content {
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-items: center;
    font-family: 'inter';
    padding-top: 130px;
    margin-left: 250px;
}


.top {
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding-right: 20px;
}

.top h2 {
    color: #334EAC;
    border-bottom: 2px solid #6D6C6C;
}

.top2 {
    display: flex;
    flex-direction: row;
    padding-top: 22px;
    width: 100%;
    gap: 700px;
}

.choose {
    display: flex;
    align-items: center;
    gap: 10px;
}

.choose a {
    text-decoration: none;
    color: #929292;
    transition: all ease-out;
    font-size: 17px;

    &.aktif {
        color: #000000;
        border-bottom: 3px solid #334EAC;
    }
}

.content {
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-items: center;
    padding-top: 130px;
}

.isi-container {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 3px #929292;
    width: 92%;
    height: 516.5px;
    margin-top: 40px;
    padding: 20px;
    gap: 10px;
}

.add {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.type, .title, .isi {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 700;
}

.type input {
    width: 300px;
    height: 32px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 10px;
}

.title input {
    width: 500px;
    height: 32px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 10px;
}

.isi textarea {
    width: 1080px;
    height: 345px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 10px 0 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-items: self-end;
    gap: 10px;
}