<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/../SI_BebasTanggungan_TA/image/icon.png">
        <title>Profile</title>
        <link rel="stylesheet" href="/../SI_BebasTanggungan_TA/css/profil.css">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="/../SI_BebasTanggungan_TA/image/logo.png" alt="SIBETA">
                    <span>SIBETA</span>
                </div>

                <div class="home">
                    <a href="/../SI_BebasTanggungan_TA/app/view/Mahasiswa/home.html">HOME</a>
                </div>

                <div class="notif">
                    <img src="/../SI_BebasTanggungan_TA/image/notification.png" alt="">
                </div>

                <div class="profile">
                    <a href="../Admin/profil.html" class="aktif"><span class="role">Admin</span></a>
                    <img src="/../SI_BebasTanggungan_TA/image/pp.png" alt="Foto Profil" class="pp">
                </div>
            </nav>

            <div class="content">
                <div class="top">
                    <span>Profile</span>
                </div>

                <div class="data-content">
                    <div class="photo"></div>
                    <div class="data">
                        <div class="isi">
                            <label for="nim">NIM :</label>
                            <span>2341720146</span>
                        </div>
                        
                        <div class="isi">
                            <label for="nama">Name :</label>
                            <span>Keisya Nisrina Aulia</span>
                        </div>

                        <div class="isi">
                            <label for="email">Email :</label>
                            <span>keisya.naulia@gmail.com</span>
                        </div>

                        <div class="isi">
                            <label for="major">Major :</label>
                            <span>D-IV Informatics Engineer</span>
                        </div>
                    </div>

                    <div class="btn">
                        <button ><img src="/../SI_BebasTanggungan_TA/image/edit.png" alt=""> <a href="../Mahasiswa/edit_profile.html">Edit Profile</a></button>
                        <button><a href="/../SI_BebasTanggungan_TA/app/view/login.php">Log Out</a></button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>