<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/../SI_BebasTanggungan_TA/image/icon.png">
        <title>Profile</title>
        <link rel="stylesheet" href="/../SI_BebasTanggungan_TA/css/profil.css">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="/../SI_BebasTanggungan_TA/image/logo.png" alt="SIBETA">
                    <span>SIBETA</span>
                </div>

                <div class="home">
                    <a href="/../SI_BebasTanggungan_TA/app/view/Mahasiswa/home.html">HOME</a>
                </div>

                <div class="notif">
                    <img src="/../SI_BebasTanggungan_TA/image/notification.png" alt="">
                </div>

                <div class="profile">
                    <span class="role">Mahasiswa</span>
                    <img src="/../SI_BebasTanggungan_TA/image/pp.png" alt="Foto Profil" class="pp">
                </div>
            </nav>

            <div class="content">
                <div class="top">
                    <span>Profile</span>
                </div>

                <div class="data">
                    
                </div>
            </div>
        </div>
    </body>
</html>